<div *ngIf="mangaDetail" class="card text-bg-dark mb-3" style="max-width: 1000px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img style="height: 100%; width: 100%;" src="{{mangaDetail.imageUrl}}" class="img-fluid rounded-start" alt="{{mangaDetail.title}}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">{{mangaDetail.title}}</h2>
        <hr>
        <p class="card-text">Autore: {{mangaDetail.author | separateElementsFromArray}}</p>
        <p class="card-text">Categoria: {{mangaDetail.target}}</p>
        <p class="card-text">Genere: {{mangaDetail.genre | separateElementsFromArray}}</p>
        <p class="card-text">Data di pubblicazione: {{mangaDetail.originalRun}}</p>
        <p class="card-text">Pubblicato da: {{mangaDetail.publishedBy}}</p>
        <p class="card-text">Volumi: {{mangaDetail.volumes}}</p>
        <p class="card-text">Collezione completa: {{mangaDetail.isComplete | collectionIfIsComplete}}</p>
      </div>
      <div class="box-btn">
        <button type="button" class="btn btn-outline-light">Trama</button>
      </div>
    </div>
  </div>
</div>
