<nav color="primary" class="navbar bg-dark header" data-bs-theme="dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">My Manga Collection</span>
  </div>
</nav>
<app-manga-list></app-manga-list>
<app-manga-add></app-manga-add>
<nav data-bs-theme="dark" class="navbar bg-body-tertiary" style="height: auto; margin-top: 80px;">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">My Manga Collection<br>
      Esplora la mia raccolta di manga<br>
      © 2023, Davide Consigliere<br>
      Contattami:<br>
      <a href="mailto:dave89dc@gmail.com" target="_blank">dave89dc@gmail.com</a><br>
      <a href="https://www.facebook.com/davide.d.consigliere" target="_blank">Facebook <img style="width: 22px;" src="./assets/facebook.svg" alt="Facebook"></a><br>
      <a href="https://www.instagram.com/dave.consi/" target="_blank">Instagram <img style="width: 22px;" src="./assets/instagram.svg" alt="Instagram"></a>
    </span>
  </div>
</nav>
