/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

* {
  box-sizing: border-box;
}

html, body {
  padding: 0px;
  margin: 0px;
  background-color: var(--bs-light);
}
